// {{ ansible_managed }}

APT::Periodic::Update-Package-Lists "1";
APT::Periodic::Unattended-Upgrade "{{ '1' if baseline_auto_updates_apply_updates else '0' }}";
APT::Periodic::Download-Upgradeable-Packages "1";
APT::Periodic::AutocleanInterval "7";
